/* variable decleration */
/* we use the css vars because we will nested the vars with each other and that can't happen with only sass*/
:root {
  --box-1: #f54d42;
  --box-2: #069889;
  --box-3: #1fb2f5;
}

/* resets */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  caret-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  text-transform: capitalize;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

@media (max-width: 480px) {
  li,
  p {
    font-size: 13px;
  }
}

/* mixins */
/* placeholders */
.head-section .main-title::before, .head-section .main-title::after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: #2098D1;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.gallery::before, .testimonials::before, .services::before, .how-it-works::before, .pricing-plans::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}

.landing .container .landing-img img, .articles .container .articles-gallery img, .gallery .container .images-gallery a img, .features .container .features-container .features-box .image-overlay img, .testimonials .container .testimonials-content .testimonials-box::after, .team-members .container .team-members-content .team-members-box img, .stats {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.articles .container .articles-gallery .articles-text .rd-more, .features .container .features-container .features-box .features-content, .features .container .features-container .features-box .features-content h2, .how-it-works .container .how-it-works-content .work-steps > div, footer .container .f-social a i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* global styling */
.container {
  padding: 100px 50px;
}

@media (max-width: 768px) {
  .container {
    padding: 100px 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 50px 10px;
  }
}

.head-section .main-title {
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px 20px;
  position: relative;
  font-weight: 900;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #000;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.head-section .main-title::before {
  left: -30px;
}

.head-section .main-title::after {
  right: -30px;
}

.head-section .main-title:hover {
  color: #fff;
  border: 2px solid white;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.head-section .main-title:hover::before {
  z-index: -1;
  -webkit-animation: leftMove 0.5s linear forwards;
          animation: leftMove 0.5s linear forwards;
}

.head-section .main-title:hover::after {
  z-index: -1;
  -webkit-animation: rightMove 0.5s linear forwards;
          animation: rightMove 0.5s linear forwards;
}

/* end of global styling */
/* header section*/
header {
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

header .container .title a {
  font-weight: bold;
  color: #2098D1;
}

header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container .nav li.other-links i.fa-angle-down {
  margin-left: 5px;
}

header .container .nav li.other-links:hover .mega-menu {
  opacity: 1;
  top: 100%;
  z-index: 99;
}

header .container .nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .container .nav li a::before {
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 3px;
  -webkit-transition: right .3s ease-out;
  transition: right .3s ease-out;
}

header .container .nav li a:hover {
  background-color: rgba(221, 221, 221, 0.3);
}

header .container .nav li a:hover a {
  color: #2098D1;
}

header .container .nav li a:hover::before {
  right: 0%;
}

header .container .nav li .mega-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 200%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0;
  -webkit-transition: top .3s, opacity .3s;
  transition: top .3s, opacity .3s;
  border-bottom: 3px solid #2098D1;
}

header .container .nav li .mega-menu li a {
  font-weight: bold;
  color: #2098D1;
  border-bottom: 1px solid #e9e6e6;
  position: relative;
  padding: 0px;
}

header .container .nav li .mega-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #fafafa;
  -webkit-transition: width .3s ease-out;
  transition: width .3s ease-out;
  z-index: -1;
}

header .container .nav li .mega-menu li a:hover {
  background-color: transparent;
}

header .container .nav li .mega-menu li a:hover::before {
  width: 100%;
}

header .container .nav li .mega-menu li a i {
  margin-right: 5px;
}

header .container .nav li .mega-menu .image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

header .container .nav li .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 900px) {
  header .container .nav li .mega-menu {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .container .nav li .mega-menu .image {
    display: none;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

@media (max-width: 768px) {
  header .container {
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .container .nav li a {
    height: 40px;
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  header .container .nav li .mega-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .container .nav li .mega-menu li a {
    display: block;
  }
  header .container .nav li .mega-menu .links1,
  header .container .nav li .mega-menu .links2 {
    width: 100%;
    padding: 0px 15px;
  }
}

/* landing section*/
.landing {
  height: 85vh;
  overflow: hidden;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.landing .to-down {
  cursor: pointer;
  position: absolute;
  font-size: 30px;
  left: 50%;
  bottom: 0px;
  color: #2098D1;
  animation: translatingArrow1 .3s linear 0s infinite alternate-reverse;
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.landing .container .landing-txt {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

.landing .container .landing-txt h2 {
  margin-bottom: 20px;
  font-weight: 900;
}

.landing .container .landing-img {
  animation: flow 2s linear 0s infinite alternate-reverse;
}

.landing .container .landing-img img {
  height: 100%;
}

@media (max-width: 768px) {
  .landing .to-down {
    bottom: 40px;
  }
  .landing .container .landing-txt {
    text-align: center;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin: 0 auto;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .landing .container .landing-img {
    display: none;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

/*  articles section*/
.articles .container .articles-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.articles .container .articles-gallery .articles-box {
  -webkit-box-shadow: -2px 2px 10px 0px #7777774d;
          box-shadow: -2px 2px 10px 0px #7777774d;
  border-radius: 7px;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.articles .container .articles-gallery .articles-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 0px 10px 3px #7777776e;
          box-shadow: 0px 0px 10px 3px #7777776e;
}

.articles .container .articles-gallery .articles-box:hover i {
  animation: translatingArrow2 .2s linear 0s infinite alternate-reverse;
}

.articles .container .articles-gallery .articles-text {
  padding: 10px;
}

.articles .container .articles-gallery .articles-text h2,
.articles .container .articles-gallery .articles-text p {
  margin-bottom: 15px;
}

.articles .container .articles-gallery .articles-text .rd-more {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles .container .articles-gallery .articles-text .rd-more a {
  color: #2098D1;
}

.articles .container .articles-gallery .articles-text .rd-more a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px solid #777;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.gallery {
  background: #ececec;
  position: relative;
}

.gallery .container .images-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.gallery .container .images-gallery a {
  border: 15px solid #fff;
  -webkit-box-shadow: -2px 2px 10px 0px #7777774d;
          box-shadow: -2px 2px 10px 0px #7777774d;
  overflow: hidden;
  position: relative;
}

.gallery .container .images-gallery a::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
}

.gallery .container .images-gallery a:hover::before {
  -webkit-animation: flash .75s;
          animation: flash .75s;
  z-index: 2;
}

.gallery .container .images-gallery a:hover img {
  -webkit-transform: rotate(7deg) scale(1.2);
          transform: rotate(7deg) scale(1.2);
}

.gallery .container .images-gallery a img {
  -webkit-transition: .3s;
  transition: .3s;
  height: 100%;
}

.features .container .features-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.features .container .features-container .features-box {
  border: 1px solid #333;
  text-align: center;
}

.features .container .features-container .features-box .image-overlay {
  overflow: hidden;
  position: relative;
}

.features .container .features-container .features-box .image-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.features .container .features-container .features-box .image-overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: .6;
}

.features .container .features-container .features-box .features-content {
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.features .container .features-container .features-box .features-content h2 {
  font-weight: bold;
  position: relative;
}

.features .container .features-container .features-box .features-content h2::before {
  content: '';
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  height: 5px;
  bottom: -15px;
  position: absolute;
}

.features .container .features-container .features-box .features-content button {
  padding: 10px 20px;
  border: 4px solid;
  border-radius: 10px;
  background-color: transparent;
  font-weight: bold;
  position: relative;
}

.features .container .features-container .features-box .features-content button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
  z-index: -1;
}

.features .container .features-container .features-box.features-box-1 .image-overlay::before {
  background-color: var(--box-1);
}

.features .container .features-container .features-box.features-box-1 h2::before {
  background-color: var(--box-1);
  width: 100px;
}

.features .container .features-container .features-box.features-box-1 button {
  color: var(--box-1);
  border-color: var(--box-1);
}

.features .container .features-container .features-box.features-box-1 button::before {
  background-color: var(--box-1);
}

.features .container .features-container .features-box.features-box-2 .image-overlay::before {
  background-color: var(--box-2);
}

.features .container .features-container .features-box.features-box-2 h2::before {
  background-color: var(--box-2);
  width: 100px;
}

.features .container .features-container .features-box.features-box-2 button {
  color: var(--box-2);
  border-color: var(--box-2);
}

.features .container .features-container .features-box.features-box-2 button::before {
  background-color: var(--box-2);
}

.features .container .features-container .features-box.features-box-3 .image-overlay::before {
  background-color: var(--box-3);
}

.features .container .features-container .features-box.features-box-3 h2::before {
  background-color: var(--box-3);
  width: 100px;
}

.features .container .features-container .features-box.features-box-3 button {
  color: var(--box-3);
  border-color: var(--box-3);
}

.features .container .features-container .features-box.features-box-3 button::before {
  background-color: var(--box-3);
}

.features .container .features-container .features-box:hover .image-overlay::after {
  border-width: 170px 500px 170px 0px;
}

.features .container .features-container .features-box:hover button {
  color: #fff;
}

.features .container .features-container .features-box:hover button::before {
  width: 100%;
}

.testimonials {
  background-color: #ececec;
}

.testimonials .container .testimonials-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin-top: 100px;
}

.testimonials .container .testimonials-content .testimonials-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.testimonials .container .testimonials-content .testimonials-box::after {
  content: '';
  background-image: url("../images/avatar-01.png");
  position: absolute;
  width: 75px;
  height: 75px;
  top: -75px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid #ececec;
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-1::after {
  background-image: url("../images/avatar-01.png");
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-2::after {
  background-image: url("../images/avatar-02.png");
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-3::after {
  background-image: url("../images/avatar-03.png");
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-4::after {
  background-image: url("../images/avatar-04.png");
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-5::after {
  background-image: url("../images/avatar-05.png");
}

.testimonials .container .testimonials-content .testimonials-box.testimonials-box-6::after {
  background-image: url("../images/avatar-06.png");
}

.testimonials .container .testimonials-content .testimonials-box h3 {
  font-weight: bold;
}

.testimonials .container .testimonials-content .testimonials-box span {
  color: gray;
}

.testimonials .container .testimonials-content .testimonials-box .rate i {
  color: goldenrod;
  border-color: goldenrod;
}

.team-members .container .team-members-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem 4rem;
  justify-items: flex-end;
}

.team-members .container .team-members-content .team-members-box {
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 1;
}

.team-members .container .team-members-content .team-members-box img {
  border-radius: 10px;
  height: 80%;
  margin-left: -60px;
  margin-top: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.team-members .container .team-members-content .team-members-box::after {
  content: '';
  background-color: #e4e4e4;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.team-members .container .team-members-content .team-members-box:hover::after {
  width: 100%;
}

.team-members .container .team-members-content .team-members-box:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team-members .container .team-members-content .team-members-box:hover h3 {
  color: #777777;
}

.team-members .container .team-members-content .team-members-box h3 {
  color: #2098D1;
  font-weight: bold;
  margin: 10px 0px;
}

.team-members .container .team-members-content .team-members-box .social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3rem;
  margin: auto 0px;
}

.team-members .container .team-members-content .team-members-box .social-contact i {
  -webkit-transition: .3s;
  transition: .3s;
  color: #777777;
  cursor: pointer;
}

.team-members .container .team-members-content .team-members-box .social-contact i:hover {
  color: #2098D1;
}

@media (max-width: 480px) {
  .team-members .container .team-members-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem 4rem;
    justify-items: center;
  }
  .team-members .container .team-members-content .team-members-box img {
    margin: 0 0;
  }
  .team-members .container .team-members-content .team-members-box .social-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px auto;
  }
  .team-members .container .team-members-content .team-members-box .team-text {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}

.services {
  background-color: #ececec;
}

.services .container .services-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.services .container .services-content .services-box {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.services .container .services-content .services-box::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  right: 0;
  width: 0%;
  height: 3px;
  background-color: #2098D1;
  -webkit-transition: .5s;
  transition: .5s;
}

.services .container .services-content .services-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services .container .services-content .services-box:hover::before {
  left: 0%;
  width: 100%;
}

.services .container .services-content .services-box i {
  color: #d5d5d5;
  margin: 30px;
  font-size: 5rem;
}

.services .container .services-content .services-box h2 {
  color: #2098D1;
  margin-bottom: 30px;
}

.services .container .services-content .services-box .details {
  background-color: #ececec9e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .container .services-content .services-box .details .dt {
  color: #2098D1;
  margin-right: 20px;
  font-weight: bold;
}

.services .container .services-content .services-box .details .dt-number {
  width: 100px;
  background-color: #2098D1;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  padding: 5px 20px;
  text-align: left;
  position: relative;
}

.services .container .services-content .services-box .details .dt-number::after {
  content: '';
  position: absolute;
  background-color: #d5d5d5;
  height: 100%;
  width: 50px;
  right: -25px;
  top: 0;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
}

/* our-skills section */
.our-skills .container .our-skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-skills .container .our-skills-content .progresses {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.our-skills .container .our-skills-content .progresses span {
  width: 100%;
  height: 30px;
  background-color: #d5d5d5;
  display: block;
  margin: 10px 0px;
  position: relative;
}

.our-skills .container .our-skills-content .progresses span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#2098D1), to(#6A76C5));
  background: linear-gradient(to right, #2098D1, #6A76C5);
}

.our-skills .container .our-skills-content .progresses span::after {
  position: absolute;
  top: -30px;
  right: 0;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  color: #2098D1;
  padding: 3px;
  font-size: 12px;
  font-weight: 900;
}

.our-skills .container .our-skills-content .progresses .html span::before {
  width: 80%;
}

.our-skills .container .our-skills-content .progresses .html span::after {
  content: '80%';
}

.our-skills .container .our-skills-content .progresses .css span::before {
  width: 50%;
}

.our-skills .container .our-skills-content .progresses .css span::after {
  content: '50%';
}

.our-skills .container .our-skills-content .progresses .js span::before {
  width: 90%;
}

.our-skills .container .our-skills-content .progresses .js span::after {
  content: '90%';
}

.our-skills .container .our-skills-content .progresses .python span::before {
  width: 45%;
}

.our-skills .container .our-skills-content .progresses .python span::after {
  content: '45%';
}

.our-skills .container .our-skills-content img {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

@media (max-width: 1024px) {
  .our-skills .container .our-skills-content img {
    display: none;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
  .our-skills .container .our-skills-content .progresses {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/* how-it-works section */
.how-it-works {
  background-color: #ececec;
}

.how-it-works .container .how-it-works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works .container .how-it-works-content .how-image {
  max-width: 100%;
  margin: 50px;
}

.how-it-works .container .how-it-works-content .work-steps {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.how-it-works .container .how-it-works-content .work-steps > div {
  width: 100%;
  padding: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.how-it-works .container .how-it-works-content .work-steps > div::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #ececec;
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.how-it-works .container .how-it-works-content .work-steps > div:hover::before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fillBox .3s linear;
          animation: fillBox .3s linear;
}

.how-it-works .container .how-it-works-content .work-steps > div p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}

.how-it-works .container .how-it-works-content .work-steps .side-image img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .how-it-works .container .how-it-works-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .how-it-works .container .how-it-works-content .work-steps > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .how-it-works .container .how-it-works-content .work-steps > div .side-image img {
    margin: 20px auto;
  }
}

.latest-event .container .latest-event-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.latest-event .container .latest-event-content .latest-event-image {
  max-width: 50%;
}

.latest-event .container .latest-event-content .count-down-event {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: center;
}

.latest-event .container .latest-event-content .count-down-event .count-down > span {
  padding: 10px 20px 30px 20px;
  border: 1px solid #d5d5d5;
  color: #2098D1;
  font-size: 30px;
  border-radius: 5px;
  font-weight: 900;
  position: relative;
}

.latest-event .container .latest-event-content .count-down-event .count-down > span::before {
  content: '';
  border-top: 1px solid #d5d5d5;
  width: 100%;
  position: absolute;
  font-size: 15px;
  bottom: 0;
  left: 0;
  padding: 5px 0px;
}

.latest-event .container .latest-event-content .count-down-event .count-down > span.days::before {
  content: 'Days';
}

.latest-event .container .latest-event-content .count-down-event .count-down > span.hours::before {
  content: 'Hours';
}

.latest-event .container .latest-event-content .count-down-event .count-down > span.minutes::before {
  content: 'Minutes';
}

.latest-event .container .latest-event-content .count-down-event .count-down > span.seconds::before {
  content: 'Seconds';
}

.latest-event .container .latest-event-content .count-down-event h2 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-weight: 900;
}

.latest-event .container .latest-event-content .count-down-event p {
  color: #777;
  line-height: 1.7;
  font-size: 18px;
}

.latest-event .container .email-form {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-color: #f5f5f5;
  margin-top: 50px;
  padding: 30px 0px;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-event .container input[type=email] {
  width: 350px;
  height: 50px;
  border-radius: 70px;
  border: none;
  padding: 10px 20px;
}

.latest-event .container input[type=button] {
  height: 50px;
  padding: 10px 20px;
  color: white;
  background-color: #2098D1;
  border: none;
  border-radius: 30px;
  font-weight: 900;
}

@media (max-width: 900px) {
  .latest-event .container .latest-event-content .latest-event-image {
    display: none;
  }
  .latest-event .container .latest-event-content .count-down-event {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .latest-event .container .email-form {
    border-radius: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  .latest-event .container .email-form input {
    border-radius: 0px;
  }
  .latest-event .container .email-form input[type=email] {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .latest-event .container .latest-event-content .count-down-event .count-down span {
    display: block;
  }
}

/* pricing-plans section */
.pricing-plans {
  background-color: #ececec;
}

.pricing-plans .container .pricing-plans-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.pricing-plans .container .pricing-plans-content .pricing-box {
  text-align: center;
  background-color: #fff;
  padding: 30px 0px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  position: relative;
  z-index: 1;
}

.pricing-plans .container .pricing-plans-content .pricing-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 50%;
  background-color: #f6f6f6;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.pricing-plans .container .pricing-plans-content .pricing-box::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 50%;
  background-color: #f6f6f6;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
}

.pricing-plans .container .pricing-plans-content .pricing-box:hover::before, .pricing-plans .container .pricing-plans-content .pricing-box:hover::after {
  width: 100%;
}

.pricing-plans .container .pricing-plans-content .pricing-box img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 30px auto;
}

.pricing-plans .container .pricing-plans-content .pricing-box span {
  color: #2098D1;
  font-size: 50px;
  font-weight: 900;
  position: relative;
}

.pricing-plans .container .pricing-plans-content .pricing-box span::after {
  content: 'per month';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #777;
  font-size: 15px;
  width: 100px;
  font-weight: 400;
}

.pricing-plans .container .pricing-plans-content .pricing-box ul {
  margin: 50px 0px;
  text-align: left;
}

.pricing-plans .container .pricing-plans-content .pricing-box ul li {
  border-top: 1px solid #eee;
  padding: 20px;
}

.pricing-plans .container .pricing-plans-content .pricing-box ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  margin-right: 10px;
  font-weight: 900;
  color: #2098D1;
}

.pricing-plans .container .pricing-plans-content .pricing-box button {
  font-weight: 900;
  padding: 15px 20px;
  color: #2098D1;
  border: 2px solid #2098D1;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

.pricing-plans .container .pricing-plans-content .pricing-box button:hover {
  background-color: #2098D1;
  color: #fff;
}

@media (min-width: 1230px) {
  .pricing-plans .container .pricing-plans-content div:nth-child(2) {
    margin-top: -30px;
  }
}

/* top-vedios section */
.top-vedios .container .top-vedios-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ececec;
}

.top-vedios .container .top-vedios-content .vedio-displaying {
  padding: 10px;
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-vedios .container .top-vedios-content ul {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #fff;
}

.top-vedios .container .top-vedios-content ul li {
  padding: 20px;
  border-top: 1px solid #ececec;
  -webkit-transition: .3s;
  transition: .3s;
}

.top-vedios .container .top-vedios-content ul li:hover {
  background-color: #f5f5f5;
  color: #2098D1;
  cursor: pointer;
}

.top-vedios .container .top-vedios-content ul li:first-child {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.top-vedios .container .top-vedios-content ul li span {
  color: #777;
}

.top-vedios .container .top-vedios-content img {
  max-width: 100%;
  margin-bottom: 100px;
}

.top-vedios .container .top-vedios-content h3 {
  background-color: #fff;
  padding: 20px;
}

@media (max-width: 1024px) {
  .top-vedios .container .top-vedios-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-vedios .container .top-vedios-content .vedio-displaying {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

/* stats section */
.stats {
  position: relative;
}

.stats::before {
  content: '';
  position: absolute;
  background-image: url("../images/stats.jpg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
}

.stats .container .stats-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.stats .container .stats-content .stats-box {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 200px;
  opacity: .8;
  -webkit-transition: .7s;
  transition: .7s;
  position: relative;
}

.stats .container .stats-content .stats-box::before, .stats .container .stats-content .stats-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0%;
  background-color: #2098D1;
  -webkit-transition: .7s;
  transition: .7s;
}

.stats .container .stats-content .stats-box::after {
  top: unset;
  left: unset;
  bottom: 0;
  right: 0;
}

.stats .container .stats-content .stats-box:hover {
  opacity: 1;
}

.stats .container .stats-content .stats-box:hover::before, .stats .container .stats-content .stats-box:hover::after {
  height: 100%;
}

.stats .container .stats-content .stats-box :nth-child(2) {
  font-size: 50px;
  font-weight: 900;
}

.stats .container .stats-content .stats-box :nth-child(3) {
  font-weight: 900;
  color: #2098D1;
  font-style: italic;
}

/* discount section */
.discount .discount-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.discount .discount-content .have-discount {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
  background-color: rgba(23, 135, 224, 0.97);
}

.discount .discount-content .have-discount::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  animation: switchBackground 3s linear 0s infinite alternate-reverse;
}

.discount .discount-content h2 {
  margin: 30px 0px;
  font-size: 40px;
}

.discount .discount-content p {
  line-height: 1.7;
  font-size: 18px;
  margin-bottom: 20px;
}

.discount .discount-content img {
  max-width: 50%;
}

.discount .discount-content .request-discount {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 50px 20px;
  text-align: center;
}

.discount .discount-content .request-discount h2 {
  margin: 30px 0px;
  font-size: 40px;
}

.discount .discount-content .request-discount form {
  width: 60%;
  margin: 0 auto;
}

.discount .discount-content .request-discount form input {
  display: block;
  border: none;
  margin-bottom: 20px;
  background-color: #f5f5ff;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #777;
  position: relative;
}

.discount .discount-content .request-discount form input:focus-visible {
  outline: unset;
  border: 2px solid #2098D1;
}

.discount .discount-content .request-discount form :nth-last-child(2) {
  height: 200px;
}

.discount .discount-content .request-discount form :last-child {
  border: none;
  background-color: #2098D1;
  color: #fff;
  cursor: pointer;
}

.discount .discount-content .request-discount form :last-child:hover {
  background-color: #2099d1d3;
}

@media (max-width: 1024px) {
  .discount .discount-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discount .discount-content .have-discount img {
    max-width: 30%;
  }
}

@media (max-width: 480px) {
  .discount .discount-content .request-discount form {
    width: 100%;
  }
}

/* footer section */
footer {
  background-color: #191919;
  color: #fff;
}

footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  padding-bottom: 0px;
}

footer .container .f-social .social-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

footer .container .f-social h2 {
  font-size: 50px;
}

footer .container .f-social p {
  line-height: 1.7;
  font-size: 17px;
  color: #b9b9b9;
}

footer .container .f-social a i {
  width: 50px;
  height: 50px;
  color: #b9b9b9;
  background-color: #313131;
  font-size: 20px;
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .container .f-social a i:hover.fa-facebook-f {
  background-color: #4267B2;
  color: #fff;
}

footer .container .f-social a i:hover.fa-twitter {
  background-color: #1DA1F2;
  color: #fff;
}

footer .container .f-social a i:hover.fa-youtube {
  background-color: #FF0000;
  color: #fff;
}

footer .container .f-links li {
  border-bottom: 1px solid #b9b9b9;
  cursor: pointer;
  padding: 15px 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

footer .container .f-links li:hover {
  padding-left: 20px;
}

footer .container .f-links li a {
  color: #b9b9b9;
}

footer .container .f-links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  color: #2098D1;
  font-weight: 900;
  margin-right: 10px;
}

footer .container .f-contact .con-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

footer .container .f-contact .con-box i {
  color: #2098D1;
  font-size: 25px;
  margin-right: 10px;
}

footer .container .f-contact .con-box span {
  color: #b9b9b9;
  font-size: 17px;
  line-height: 1.7;
  display: block;
}

footer .container .f-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}

footer .copyright {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #444;
  padding: 20px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer .f-social .social-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .f-contact .con-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*  this is for small displaying in general  */
@media (max-width: 480px) {
  .gallery .container .images-gallery,
  .features .container .features-container,
  .testimonials .container .testimonials-content,
  .services .container .services-content,
  .pricing-plans .container .pricing-plans-content {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .head-section .main-title {
    width: 50%;
    text-align: center;
  }
}

/* keyframes */
@-webkit-keyframes leftMove {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes leftMove {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@-webkit-keyframes rightMove {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes rightMove {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@-webkit-keyframes flow {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes flow {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes translatingArrow1 {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes translatingArrow1 {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes translatingArrow2 {
  from {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  to {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@keyframes translatingArrow2 {
  from {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  to {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@-webkit-keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@-webkit-keyframes fillBox {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fillBox {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes switchBackground {
  0%,
  50% {
    background-image: url("../images/discount-background1.jpg");
  }
  100% {
    background-image: url("../images/discount-background2.jpg");
  }
}

@keyframes switchBackground {
  0%,
  50% {
    background-image: url("../images/discount-background1.jpg");
  }
  100% {
    background-image: url("../images/discount-background2.jpg");
  }
}
